.block1 {
    display:flex;
    margin: 10px;
    padding:5px;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    
}

.block2 {
    display:flex;
    margin:10px;
    padding:5px;
    flex-wrap: wrap;
    background-color: blueviolet;
}

.textS {
    color:black;
    font-size: xx-large;
    margin:100px;
    font-family: 'Rajdhani', 'Arial Narrow', sans-serif;
}