@media (min-width: 500px){
    main {
        font-size: 150%;
    }
  }

/* Phones */
@media (max-width: 500px){
    main {
        font-size: 200%;
    }
  }

main {
  display: flex;
  align-items: center;
  padding: 10%;
  padding-bottom: 5%;
  width: 100%;
  height: 100%;
  justify-content:center;
  
}

.policyBox {
  max-width: 800px;
  margin: 0 auto;
  background: var(--bgColor-darkGray);;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(54, 54, 54, 0.1);
  
}

